/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


/* Customize */

:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);

    --font-size: 15px;
    --font-o:'Outfit', sans-serif;
}


/* Codes */
body {
    background-color: var(--light-gray);
    display: grid;
    padding: 30px;
    place-content: center;
    font-family: 'Outfit', sans-serif;
    font-size: 0.9rem;
}

.card {
    display: grid;
    border-radius: 30px;
    overflow: hidden;
    background-color: var(--white);
    width: 300px;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

.code {
    padding: 15px;
    border-radius: 30px;
}

.word {
    background-color: var(--white);
    display: grid;
    align-content: center;
    padding: 15px 30px 30px 30px;
    gap: 0.8rem;
}



.p1 {
    color: var(--dark-blue);
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding: 0 30px;
}

.p2 {
    color: var(--grayish-blue);
    text-align: center;
    padding: 15px 30px 40px 30px;
}